version: '3.9'

services:
  
  redis:
    image: redis:alpine
    container_name: redis-alpine
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 2s
      timeout: 3s
      retries: 10
    ports:
      - 6379:6380
    networks:
      - app-tier

  db:
    image: postgres:13-alpine
    container_name: postgres-13-alpine

    ports:
      - 6543:5432
    environment:
      - POSTGRES_DB=devdb
      - POSTGRES_USER=devuser
      - POSTGRES_PASSWORD=changeme
      - POSTGRES_HOST_AUTH_METHOD=trust
    networks:
      - app-tier
    healthcheck:
      # test base on evironment variable
      test: ["CMD-SHELL", "pg_isready -U devuser -d devdb"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: always

  app:
    build:
      context: .
    container_name: django
    # command: >
    #   sh -c "python manage.py wait_for_db &&
    #          python manage.py makemigrations &&
    #          python manage.py migrate &&
    #          python manage.py runserver 0.0.0.0:8000"
    ports:
      - 8000:8000
    volumes:
      - ./app:/app
      - ./data/web:/vol/web
    environment:
      - SECRET_KEY=devsecretkey
      - DEBUG=1
      - DB_HOST=db
      - DB_NAME=devdb
      - DB_USER=devuser
      - DB_PASS=changeme
      - EMAIL_USE_TLS=1
      - EMAIL_HOST=smtp.gmail.com
      - EMAIL_HOST_USER=caythuearam2@gmail.com
      - EMAIL_HOST_PASSWORD=matkhaula1
      - EMAIL_PORT=587

      - CELERY_BROKER=redis://redis:6379/0
      - CELERY_BACKEND=redis://redis:6379/0
    networks:
      - app-tier
    depends_on:
      - db

  celery:
    container_name: celery
    restart: always
    build:
      context: .
    command: celery -A app worker -l info --beat
    volumes:
      - ./app:/app
    environment:
      
      - SECRET_KEY=devsecretkey
      - DEBUG=1
      - DB_HOST=db
      - DB_NAME=devdb
      - DB_USER=devuser
      - DB_PASS=changeme

      - CELERY_BROKER=redis://redis:6379/0
      - CELERY_BACKEND=redis://redis:6379/0

      - EMAIL_USE_TLS=1
      - EMAIL_HOST=smtp.gmail.com
      - EMAIL_HOST_USER=caythuearam2@gmail.com
      - EMAIL_HOST_PASSWORD=matkhaula1
      - EMAIL_PORT=587

    networks:
      - app-tier
    depends_on:
      - app
      - redis
      - db
      
networks:
  app-tier:
    driver: bridge
