{% extends 'base.html' %}
{% load static %}

{% block title %}
Edit category | Aram Catalog
{% endblock %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        <div class="container">
            <h2 class="title-page">Edit category</h2>
        </div>

        </header>

        <div class="row justify-content-center">
            <div class="col-md-4">
                {% comment %} <a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go Back</a> {% endcomment %}
                <div class="card">

                    {% include "includes/alerts.html" %}

                    <form method='POST' action="" enctype="multipart/form-data">
                        {% csrf_token %}

                        {% comment %} form qua xau {% endcomment %}
                        {% comment %} {{ form.parent }} {% endcomment %}
                        
                        <div class="form-group m-3">
                            <label>Select parent category</label>
                            <select name="parent_category" class="form-control">
                                <option value='{{ category.parent.id }}'>{{ category.parent.name }}</option>
                                {% for category_tmp in categories %}
                                {% comment %} active where category_tmp is picked {% endcomment %}
                                    <option value="{{category_tmp.id}}" 
                                        >{{category_tmp.name}}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        
                        <div class="form-group m-3">
                            <label>Category Name</label>
                            <input required name="category_new" type="text" placeholder="Enter a Category Name"
                                class="form-control" value="{{ category.name }}">
                        </div>
                        
                        <div class="form-group m-3">
                            <label>Change category image</label>
                            <label>(Empty to keep old image)</label>
                            <input name="image" type="file">
                        </div>
                        
                        {% if category.image != '' %}
                            <div class="row">
                                <div class="col-md-4">
                                    <figure class="card card-product-grid">
                                        <div class="img-wrap">
                                            <a href="{{ category.thumbnail_url }}" target="_blank">
                                                <img src="{{ category.thumbnail_url }}" class="img-fluid" alt="">
                                            </a>
                                        </div>
                                        {% comment %} <a href="{% url 'delete_photo' photo.id %}">Delete</a> {% endcomment %}
                                    </figure>
                                </div>
                            </div>
                        {% endif %}
                        
                        <button type='submit' class="btn btn-primary m-3">Submit</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}