{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y bg">
    <div class="container">
        {% include "includes/alerts.html" %}
        <div class="row">
            <aside class="col-md-3">
                <!--   SIDEBAR   -->
                <ul class="list-group">
                    <a class="list-group-item active" href="#"> My account </a>
                    <a class="list-group-item" href="{% url 'user_manage_view' %}">Manage Catalog and Product</a>
                    <a class="list-group-item" href="#">Change information </a>
                    {% comment %} REPLACE LATER {% endcomment %}
                    {% comment %} <a class="list-group-item" href="{% url 'change_password' %}">Change password </a> {% endcomment %}
                    <a class="list-group-item" href="">Change password </a>
                </ul>
                <br>
                <ul class="list-group">
                    <a class="list-group-item active" href="#"> My order history </a>
                    <a class="list-group-item" href="#"> Transactions </a>
                    <a class="list-group-item" href="#"> Return and refunds </a>
                    <a class="list-group-item" href="#">Settings </a>
                    <a class="list-group-item" href="#">Change password </a>
                    <a class="list-group-item" href="#"> My Selling Items </a>
                    <a class="list-group-item" href="#"> Received orders </a>
                </ul>
                <br>
                <a class="btn btn-light btn-block" href="{% url 'logout' %}"> <i class="fa fa-power-off"></i> <span class="text">Log
                        out</span> </a>
                <!--   SIDEBAR .//END   -->
            </aside>
            
            <section class="section-intro padding-y-sm">
                <div class="container">
                    {% include "includes/alerts.html" %}
                    <div class="jumbotron p-5 p-md-5 text-black rounded bg-light">
                        <div class="p-md-5 px-5">
                            <h1 class="display-5 font-italic">Create your favorite </h1>
                            <h1 class="display-4 font-italic">Catalog and product!</h1>
                            {% comment %} <p class="lead my-3">
                                Phu Dinh give you a paypal sandbox account UP TO 
                            <h2>$900000 </h2>
                                ID: sb-6j3tu7212034@personal.example.com
                                Password: 123123123
                            </p> {% endcomment %}
                            <p class="display-2"><a class="font-italic" href="{% url 'user_manage_view' %}" class="font-weight-bold">Check now</a></p>
                        </div>
                    </div>
                </div>  <!-- container //  -->
            </section>
        </div> <!-- row.// -->
    </div>


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}