{% extends 'base.html' %}
{% load static %}

{% block title %}
Manage | Aram Catalog
{% endblock %}

{% block content %}
<section class="section-content padding-y bg">
    <div class="container">
        {% include "includes/alerts.html" %}

        <div class="container">
            {% comment %} create add button next to My catalog h2 {% endcomment %}
                    <h2 >My catalogs</h2>
                    <a href="" class="btn btn-outline-primary"><i class="fa fa-plus-circle"></i> Add catalog</a>

            {% comment %} list all catalogs with edit and delete button {% endcomment %}
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Parent</th>
                                        <th>Action</th>
                                        <th>Create</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for catalog in catalogs %}
                                    <tr>
                                        <td>{{ catalog.id }}</td>
                                        <td>{{ catalog.name }}</td>
                                        <td>{{ catalog.parent }}</td>

                                        <td>
                                            <a href="{{ catalog.get_url }}" class="btn btn-info">View</a>
                                            <a href="{% url 'edit_catalog' catalog.id %}" class="btn btn-outline-secondary">Edit</a>
                                            <a href="{% url 'delete_catalog' catalog.id %}" class="btn btn-danger">Delete</a>
                                        </td>
                                        <td>Me</td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

        </div>

        <div class="container">
            <h2 class="title-page">My products</h2>
        </div>

        <a href="{% url 'add_product' %}" target="_blank" class="btn btn-outline-primary"><i class="fa fa-plus-circle"></i> Add product</a>

        <div class="row justify-content-center">
            {% comment %} list all catalog with edit delete button {% endcomment %}
            
            {% for product,thumb in product_with_thumb %}
            <div class="col-lg-4">
                <div class="card">
                    <figure class="card card-product-grid">
                        <div class="img-wrap">
                            {% if thumb != '' %}
                                <img src="{{ thumb }}" class="card-img-top">
                            {% else %}
                                <img src="{% static 'images/no-image.jpg' %}" class="img-fluid" alt="">
                            {% endif %}
                        </div>
                    </figure>

                    <div class="card-body">
                        <h5 class="card-title">{{ product.name }}</h5>
                        {% comment %} display prive  {% endcomment %}
                        <p class="card-text">
                            <span class="badge badge-primary">{{ product.price }}</span>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="{{ product.get_url }}" class="btn btn-info">View</a>
                                <a href="{% url 'edit_product' product.id %}" class="btn btn-outline-secondary">Edit</a>
                                <a href="{% url 'delete_product' product.id %}" class="btn btn-danger">Delete</a>
                            </div>
                            <small class="text-muted">by me</small>
                        </div>
                    </div>

                </div>
            </div>
            {% endfor %}
        </div>

    </div>
</section>
{% endblock %}